extends _layouts/pagewrapper.jade

//- project title
block title
  | Origami - The paper world
  
  
//- include our sections
block includes

  .page-wrap
  
    .sections
      include _includes/_header
      include _includes/_create
      include _includes/_paint
      include _includes/_enjoy
    
