section#enjoy

  .container
  
    .darth-vader
  
    .enjoy-text
    
      h2
        span.blue-light P
        span.red a
        span.grey-light i
        span.blue n
        span.gold t
      
      p ...dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
  
  
  p.copy &#169; 2016. Create with 
    span.purple Love
