section#header

  ul#scene.fill
    li.layer(data-depth='0.10')
      .clouds.cloud-dark.cloud-1
    li.layer(data-depth='0.08')
      .clouds.cloud-grey.cloud-2
    li.layer(data-depth='0.07')
      .clouds.cloud-dark.cloud-5
    
    // когда заголовок будет идти вниз, его будут заслонять облока
    li
      .header-title
        .title-origami
        h1.title-world
          span.red-light T
          span.yellow h
          span.orange-light e
          span.grey-light  p
          span.yellow-dark a
          span.orange p
          span.yellow-dark e
          span.grey-dark r
          span.yellow  w
          span.orange-light o
          span.red r
          span.gold l
          span.grey-light d
          
    li.layer(data-depth='0.16')
      .clouds.cloud-white.cloud-3
    li.layer(data-depth='0.03')
      .clouds.cloud-grey.cloud-4
    li.layer(data-depth='0.02')
      .clouds.cloud-grey.cloud-6
    li.layer(data-depth='0.03')
      .clouds.cloud-dark.cloud-7
    li.layer(data-depth='0.09')
      .clouds.cloud-grey.cloud-8
    li.layer(data-depth='0.10')
      .clouds.cloud-dark.cloud-10
    li.layer(data-depth='0.05')
      .clouds.cloud-white.cloud-9
    li.layer(data-depth='0.07')
      .clouds.cloud-grey.cloud-11
    li.layer(data-depth='0.10')
      .clouds.cloud-grey.cloud-12
    li.layer(data-depth='0.05')
      .rainbow
    
  
    
    
  
  
  
  
  
  
  
  

  
  
  
