section#paint

  .container
    
    .paintbrush
    
    .paint-text
      h2
        span.purple P
        span.blue a
        span.grey-light i
        span.red-light n
        span.yellow-dark t
      
      p ...ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
